{:game-id "25b15209-44a6-4191-9272-90c353592383", :turn-count 1, :board-size :3x3, :X :human, :O :human, :current-token :O, :board [[:X nil nil] [nil nil nil] [nil nil nil]]}
{:game-id "25b15209-44a6-4191-9272-90c353592383", :turn-count 2, :board-size :3x3, :X :human, :O :human, :current-token :X, :board [[:X nil nil] [:O nil nil] [nil nil nil]]}
{:game-id "25b15209-44a6-4191-9272-90c353592383", :turn-count 3, :board-size :3x3, :X :human, :O :human, :current-token :O, :board [[:X :X nil] [:O nil nil] [nil nil nil]]}
{:game-id "25b15209-44a6-4191-9272-90c353592383", :turn-count 4, :board-size :3x3, :X :human, :O :human, :current-token :X, :board [[:X :X nil] [:O :O nil] [nil nil nil]]}
{:game-id "25b15209-44a6-4191-9272-90c353592383", :turn-count 5, :board-size :3x3, :X :human, :O :human, :current-token :O, :board [[:X :X :X] [:O :O nil] [nil nil nil]]}
