{:game-id "b9f156c3-748d-4b99-83c1-f179999b7a13", :turn-count 1, :board-size :3x3, :X :human, :O :expert-ai, :current-token :O, :board [[:X nil nil] [nil nil nil] [nil nil nil]]}
{:game-id "b9f156c3-748d-4b99-83c1-f179999b7a13", :turn-count 2, :board-size :3x3, :X :human, :O :expert-ai, :current-token :X, :board [[:X nil nil] [nil :O nil] [nil nil nil]]}
{:game-id "b9f156c3-748d-4b99-83c1-f179999b7a13", :turn-count 3, :board-size :3x3, :X :human, :O :expert-ai, :current-token :O, :board [[:X :X nil] [nil :O nil] [nil nil nil]]}
{:game-id "b9f156c3-748d-4b99-83c1-f179999b7a13", :turn-count 4, :board-size :3x3, :X :human, :O :expert-ai, :current-token :X, :board [[:X :X :O] [nil :O nil] [nil nil nil]]}
{:game-id "b9f156c3-748d-4b99-83c1-f179999b7a13", :turn-count 5, :board-size :3x3, :X :human, :O :expert-ai, :current-token :O, :board [[:X :X :O] [nil :O :X] [nil nil nil]]}
{:game-id "b9f156c3-748d-4b99-83c1-f179999b7a13", :turn-count 6, :board-size :3x3, :X :human, :O :expert-ai, :current-token :X, :board [[:X :X :O] [nil :O :X] [:O nil nil]]}
{:game-id "f884b77e-06d8-40e5-b18a-81743a2110ed", :turn-count 1, :board-size :3x3, :X :human, :O :human, :current-token :O, :board [[nil nil nil] [nil :X nil] [nil nil nil]]}
{:game-id "f884b77e-06d8-40e5-b18a-81743a2110ed", :turn-count 2, :board-size :3x3, :X :human, :O :human, :current-token :X, :board [[:O nil nil] [nil :X nil] [nil nil nil]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 1, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :X, :board [[nil nil nil nil] [:O nil nil nil] [nil nil nil nil] [nil nil nil nil]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 2, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :O, :board [[nil nil nil nil] [:O nil :X nil] [nil nil nil nil] [nil nil nil nil]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 3, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :X, :board [[:O nil nil nil] [:O nil :X nil] [nil nil nil nil] [nil nil nil nil]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 4, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :O, :board [[:O nil nil nil] [:O nil :X nil] [nil nil :X nil] [nil nil nil nil]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 5, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :X, :board [[:O nil nil nil] [:O nil :X nil] [nil nil :X nil] [nil nil nil :O]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 6, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :O, :board [[:O nil nil nil] [:O nil :X nil] [nil :X :X nil] [nil nil nil :O]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 7, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :X, :board [[:O nil nil :O] [:O nil :X nil] [nil :X :X nil] [nil nil nil :O]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 8, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :O, :board [[:O nil nil :O] [:O nil :X nil] [nil :X :X nil] [:X nil nil :O]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 9, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :X, :board [[:O nil nil :O] [:O nil :X nil] [nil :X :X :O] [:X nil nil :O]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 10, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :O, :board [[:O :X nil :O] [:O nil :X nil] [nil :X :X :O] [:X nil nil :O]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 11, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :X, :board [[:O :X nil :O] [:O :O :X nil] [nil :X :X :O] [:X nil nil :O]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 12, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :O, :board [[:O :X nil :O] [:O :O :X :X] [nil :X :X :O] [:X nil nil :O]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 13, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :X, :board [[:O :X nil :O] [:O :O :X :X] [nil :X :X :O] [:X nil :O :O]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 14, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :O, :board [[:O :X :X :O] [:O :O :X :X] [nil :X :X :O] [:X nil :O :O]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 15, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :X, :board [[:O :X :X :O] [:O :O :X :X] [nil :X :X :O] [:X :O :O :O]]}
{:game-id "4f4589df-3619-4e0c-9355-6c91a3b24165", :turn-count 16, :board-size :4x4, :X :easy-ai, :O :easy-ai, :current-token :O, :board [[:O :X :X :O] [:O :O :X :X] [:X :X :X :O] [:X :O :O :O]]}
{:game-id "89b258bf-8971-4fb1-9573-4763bbac2f26", :turn-count 1, :board-size :4x4, :X :expert-ai, :O :expert-ai, :current-token :X, :board [[nil nil nil nil] [nil nil nil nil] [nil nil nil nil] [nil nil nil :O]]}
{:game-id "89b258bf-8971-4fb1-9573-4763bbac2f26", :turn-count 2, :board-size :4x4, :X :expert-ai, :O :expert-ai, :current-token :O, :board [[nil nil nil nil] [nil nil nil nil] [nil nil nil nil] [nil nil :X :O]]}
{:game-id "89b258bf-8971-4fb1-9573-4763bbac2f26", :turn-count 3, :board-size :4x4, :X :expert-ai, :O :expert-ai, :current-token :X, :board [[nil nil nil nil] [nil nil nil nil] [nil nil nil :O] [nil nil :X :O]]}
{:game-id "89b258bf-8971-4fb1-9573-4763bbac2f26", :turn-count 4, :board-size :4x4, :X :expert-ai, :O :expert-ai, :current-token :O, :board [[nil nil nil nil] [nil nil nil nil] [nil nil :X :O] [nil nil :X :O]]}
{:game-id "89b258bf-8971-4fb1-9573-4763bbac2f26", :turn-count 5, :board-size :4x4, :X :expert-ai, :O :expert-ai, :current-token :X, :board [[nil nil nil nil] [nil nil nil :O] [nil nil :X :O] [nil nil :X :O]]}
{:game-id "89b258bf-8971-4fb1-9573-4763bbac2f26", :turn-count 6, :board-size :4x4, :X :expert-ai, :O :expert-ai, :current-token :O, :board [[nil nil nil nil] [nil nil :X :O] [nil nil :X :O] [nil nil :X :O]]}
{:game-id "89b258bf-8971-4fb1-9573-4763bbac2f26", :turn-count 7, :board-size :4x4, :X :expert-ai, :O :expert-ai, :current-token :X, :board [[nil nil nil :O] [nil nil :X :O] [nil nil :X :O] [nil nil :X :O]]}
